<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <video id="video-background" autoplay loop muted>
    <source src="/assets/backgroundv.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="text-center mb-4">
              <%= image_tag("logo.png", alt: "logo", class: "img-fluid", style: "max-width: 100px;") %>
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Your Email" %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter Your Password" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Your Password" %>
              </div>

              <div class="form-group">
                <%= f.submit "Sign up", class: "btn btn-primary" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
