<div class='admin-dash-wrapper'>
<div class='admin-top'>
    <h1 style="color: white;">Hello, <%= current_user.first_name %>!</h1>
    <p style="color: white;">Welcome to the Admin Dashboard.</p>
    <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete } , style: 'color: white;' %>
</div>

<div class='pending-traders'>
    <h1>Pending Trader Applications</h1>
    <% @pending_traders.each do |trader| %>
        <div class='trader-card'>
            <h3>
                <%= "#{trader.first_name} #{trader.last_name}" %>
            </h3>
            <p>Email: <%= trader.email %></p>
            <p>Registration Date: <%= trader.created_at.in_time_zone('Asia/Manila').strftime('%d %b %Y %H:%M') %></p>
             <%# link to edit form? so admin can change status from pending -> approved%>
        </div>
    <% end %>
</div>

<div class='approved-traders'>
  <h1>List of all Approved Traders</h1>
  <% User.where(role: :trader, status: :approved).each do |trader| %>
    <div class='trader-card approved'>
      <h3>
        <%= "#{trader.first_name} #{trader.last_name}" %>
      </h3>
      <p>Email: <%= trader.email %></p>
      <p>Role: <%= trader.role %></p>
      <p>Status: <%= trader.status %></p>
      <p>Registration Date:<%= trader.created_at.in_time_zone('Asia/Manila').strftime('%d %b %Y %H:%M') %></p>
    </div>
  <% end %>
</div>

</div>