<%= form_with(model: @transaction, url: trader_transactions_path, method: :post, class: 'transaction-form') do |f| %>
  <% if @transaction.errors.any? %>
    <p class="error-message"><%= @transaction.errors.full_messages.join(', ') %></p>
  <% end %>

  <div class="form-field">
    <%= f.label :stock_symbol, class: 'form-label' %><br />
    <%= f.text_field :stock_symbol, value: @transaction.stock_symbol, readonly: true, class: 'form-input' %>
  </div>

  <div class="form-field">
    <%= f.label :price, class: 'form-label' %><br />
    <%= f.text_field :price, value: @transaction.price, readonly: true, class: 'form-input' %>
  </div>

  <div class="form-field">
    <%= f.label :quantity, class: 'form-label' %><br />
    <%= f.number_field :quantity, value: @transaction.quantity, min: 1, placeholder: 'Minimum: 1', class: 'form-input' %>
  </div>

  <%= f.hidden_field :user_id, value: @transaction.user.id %>
  <%= f.hidden_field :transaction_type, value: @transaction.transaction_type %>

  <% if params[:transaction][:transaction_type] == 'buy' %>
    <%= f.submit "Buy", class: 'btn btn-primary' %>
  <% else %>
    <%= f.submit "Sell", class: 'btn btn-danger' %>
  <% end %>
<% end %>
