
<div class='transactions_page'>
  <h1>Trader's Transaction History</h1>
  <div class= 'transaction-link-container'>
    <%= link_to "Back to dashboard", trader_dashboard_index_path, class: 'transactions-link' %> ||
    <%= link_to "Portfolio", trader_portfolios_index_path, class: 'transactions-link' %>
  </div>
  <div>

    <table>
      <thead class="portfolio-th">
        <tr class="portfolio-tr">
          <th>Transaction ID</th>
          <th>Transaction Type</th>
          <th>Stock (symbol)</th>
          <th>Quantity</th>
          <th>Price during Transaction</th>
          <th>Total Price</th>
          <th>Date</th>
        </tr>
      </thead>
     <tbody>
        <% @transactions.reverse.each do |transaction| %>


          <%= render(partial: 'transaction', locals: { transaction: transaction }) %>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Back to Dashboard', trader_dashboard_index_path, class: 'btn btn-primary' %>
    <%= link_to 'Go To Portfolio', trader_portfolios_index_path, class: 'btn btn-primary' %>
  </div>
</div>

