<% if @user.status == 'pending' %>
<div class="trader-dashboard mt-4">

<h1>Welcome <%= @user.first_name %> <%= @user.last_name %></h1>

 
  <div class="alert alert-warning mt-3">
 
    <p>Your trader status is currently <strong class="text-uppercase font-weight-bold">PENDING</strong>.</p>
    <p>Please wait for an email confirmation to be sent to <%= @user.email %>.</p>
    <p>Thank you for your patience!</p>
  </div>

  <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-danger mt-3' %>
<% else %>

<div class="wrapper">
<div class="sidebar">
  <div class="logo-container">
    <%= image_tag("logo.png", alt: "logo", class: "admin-logo", style: "max-width: 90px;") %>
    <span class="website-name">Stock Harbor</span>
  </div>
  <!-- <h1>Hello, <%= current_user.first_name %>!</h1> -->
  <div class="menu-items">
    <%= link_to 'Buy Stocks', '#', class: 'btn btn-primary' %>
    <%= link_to 'Sell Stocks', '#', class: 'btn btn-danger' %>
    <%= link_to 'My Portfolio', '#', class: 'btn btn-info' %>
    <%= link_to 'Transaction Page', '#', class: 'btn btn-success' %>
    <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-secondary' %>
  </div>
</div>

<!-- Main Content -->
<div class="content">
  <div class="graph-container" id="chartFrame" data-turbo-frame="chartFrame">
    <canvas id="stockChart"></canvas>
    <div class="bottom-info">
      <p class="total-value">Total Value: $19,710.45</p>
      <p class="today">Today: $51.21 (+0.25%)</p>
      <p class="buying-power">Buying Power: $6,151.79</p>
    </div>
  </div>
</div>
</div>
































  <% end %>

  

  
</div>
